<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Document</title>
</head>
<body>
<section>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-reg-card">
                    <h1 class="text-center">Register Here!!</h1>

                        <form th:action="@{/do_register}" method="POST">

                                <!-- Name Field-->

                                <div class="form-group">
                                    <label for="name_field">Your Name</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="name_field"
                                            aria-describedby="emailHelp"
                                            placeholder="Enter Here"
                                            required
                                    />
                                </div>

                            <div class="form-group">
                                <label for="email_field">Email</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="email_field"
                                        aria-describedby="emailHelp"
                                        placeholder="Enter Here"
                                        required
                                />
                            </div>

                            <div class="form-group">
                                <label for="password_field">Password</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="password_field"
                                        aria-describedby="emailHelp"
                                        placeholder="Enter Here"
                                required
                                />
                            </div>

                            <div class="form-group">
                                <textarea placeholder="Enter about you" rows="6" class="form-control my-2" ></textarea>
                            </div>



                                <div class="d-flex justify-content-center px-3">
                                    <button type="submit" class="btn bg-prime text-white mx-1">Submit</button>
                                    <button type="reset" class="btn bg-secondary text-white mx-1">Reset</button>
                                </div>

                    </form>

                </div>
            </div>

        </div>
    </div>


</section>

</body>
</html>